Mi primer hola mundo de Python en VS Code

In [ ]:
#hello world program in python
print(""" hola mundo
      mi nombre es Gerald
      soy estudiante de ingenieria 
      me gusta la programacion
      y quiero ser un Data Scientist """)

 hola mundo
      mi nombre es Gerald
      soy estudiante de ingenieria
      me gusta la programacion
      y quiero ser un Data Scientist

Tipos de datos

In [ ]:
#Consultar el tipo de dato
print(type(""" hola mundo
      mi nombre es Gerald
      soy estudiante de ingenieria 
      me gusta la programacion
      y quiero ser un Data Scientist """))
print(type(42)) 
print(type(3.14))
print(type(True))
print(type([1, 2, 3, 4, 5]))
print(type( 1+2j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'complex'>

Variables

In [3]:
variable_string = "Mi nombre es Gerald"
variable2_string = "Estudio ing fisica"
variable3_int = 19
variable4_float = 3.14
variable5_bool = True
variable6_list = [1, 2, 3, 4, 5]
variable7_complex = 1 + 2j
#Imprimo las variables
print(variable_string)
print(variable2_string)
print(variable3_int)
print(variable4_float)
print(variable5_bool)
print(variable6_list)
print(variable7_complex)
print(variable_string, variable2_string, variable3_int, variable4_float, variable5_bool, variable6_list, variable7_complex)
#Tipos de datos
print(type(variable_string))
print(type(variable2_string))
print(type(variable3_int))
print(type(variable4_float))
print(type(variable5_bool))
print(type(variable6_list))
print(type(variable7_complex))
#Transformacion de tipos de datos
#De string a int
Nueva_variable_string = str(variable3_int)
print(Nueva_variable_string)
print(type(Nueva_variable_string))
#De int a float
Nueva_variable_int = float(variable3_int)
print(Nueva_variable_int)
print(type(Nueva_variable_int))
#De float a int
Nueva_variable_float = int(variable4_float)
print(Nueva_variable_float)
print(type(Nueva_variable_float))
#De int a string
Nueva_variable_int_a_string = str(variable3_int)
print(Nueva_variable_int_a_string)
print(type(Nueva_variable_int_a_string))

Mi nombre es Gerald
Estudio ing fisica
19
3.14
True
[1, 2, 3, 4, 5]
(1+2j)
Mi nombre es Gerald Estudio ing fisica 19 3.14 True [1, 2, 3, 4, 5] (1+2j)
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'complex'>
19
<class 'str'>
19.0
<class 'float'>
3
<class 'int'>
19
<class 'str'>

Variables en una sola linea

In [1]:
name, surname, alias, age = "gerald", "Casañe", "GeoRyX", 19
print("Mi nombre es:", name, surname, "Mi edad es:", age, "y mi alias es:", alias)

Mi nombre es: gerald Casañe Mi edad es: 19 y mi alias es: GeoRyX

In [1]:
first_name = input("what is your first name? ")
age = input("how old are you? ")
print(first_name)
print(age)

Gerald
19

Operadores

In [29]:
print(4 + 5)
print(10 - 2)
print(8 * 5)
print(20 / 4)
print(50 % 4)
print(4 // 3)
print(8 ** 3)
print("hola " + "mundo")
print("hola " * 3)
print("hola " + str(7))
#Operadores comparativos
print(5 < 10)
print(5 > 10)
print(5 == 5)
print(6 >= 6)
print(4 <= 3)
print(5 != 2)
print("hola" == "hola")
print("hola" != "mundo")
print("aaaa" >= "AAAA")
#Operadores logicos
print(True and False)
print(True or False)
print(not True)
print(not False)
print((5 < 10) and (10 > 5))
print((5 < 10) or (10 < 5))
print(not (5 < 10))
print((5 < 10) and (10 < 5) or (3 == 3))
print(True and not (False or True))
print(False == (not True) or (True and False))
print("El (entonces) se puede definir como p (entonces) q == not p or q")

9
8
40
5.0
2
1
512
hola mundo
hola hola hola
hola 7
True
False
True
True
False
True
True
True
True
False
True
False
True
True
True
False
True
False
True
El (entonces) se puede definir como p (entonces) q == not p or q

Strings